<!DOCTYPE html>
<html>
<head>
    <title>Error page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div>
    <div class="container_error">
        <img src="/images/page_404_header.png" alt="Error image">
        <h1>Page not Found</h1>
        <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
        <p></p>
        <a href="/">Go to Home page</a>
        <span class="tab"></span>
        <a href="/Exercise3">Go to GraphiQL Page</a>
    </div>
</div>
</body>
</html>