body {
  background-color: #ffffff;
  font-size: 14px;
  font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE",
    lucida, "Helvetica CE", sans-serif;
  color: #000000;
  margin: 10px;
}

h1 {
  font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE",
    sans-serif;
  border-bottom: 1px solid #afafaf;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 174, 255);
}

a:link,
a:visited {
  color: #045491;
  font-weight: bold;
  text-decoration: none;
}

a:link:hover,
a:visited:hover {
  color: #045491;
  font-weight: bold;
  text-decoration: underline;
}

.center_content {
  position: absolute;
  width: 350px;
  background-color: #f6fbfb;
  padding: 5px;
}

#top {
  position: relative;
  background-color: #036fab;
  color: white;
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

.correct {
  background-color: green; /* Green */
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 1px; 
}

.incorrect { 
  background-color: red; /* Red */ 
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 1px; 
}

.misplaced-left {
  background-color: blue; /* Blue */
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 1px; 
}

.misplaced-right {
  background-color: rgba(215, 145, 15, 0.993); /* Orange */
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 1px; 
}


.guess-row input[type="text"] { 
  text-align: center;       
  font-size: 20px;           
  line-height: 1em; 
}

.guess-number {
  margin-bottom: 10px;
}

.guess {
  width: 250px; /* Adjust width as needed */
  height: fit-content; /* Adjust height as needed */
  border: 1px solid black;
  text-align: center;
  margin-right: 5px;
}
